<div class="col-xs-12">
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Valor</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="debit in bCyclesCtrl.billingCycle.debits">
        <td>
          <input ng-model="debit.name" class="form-control"
          placeholder="Informe o nome" ng-readonly="bCyclesCtrl.tabDelete" />
        </td>
        <td>
          <input ng-model="debit.value" class="form-control"
          placeholder="Informe o valor" ng-readonly="bCyclesCtrl.tabDelete"
          type="number" ng-change="bCyclesCtrl.calculateValues()" />
        </td>
        <td>
          <input ng-model="debit.status" class="form-control"
          placeholder="Informe o status" ng-readonly="bCyclesCtrl.tabDelete" />
        </td>
        <td class="table-actions">
          <button class="btn btn-success" ng-disabled="bCyclesCtrl.tabDelete"
          ng-click="bCyclesCtrl.addDebit($index)">
            <i class="fa fa-plus"></i>
          </button>
          <button class="btn btn-warning" ng-disabled="bCyclesCtrl.tabDelete"
          ng-click="bCyclesCtrl.cloneDebit($index, debit)">
            <i class="fa fa-clone"></i>
          </button>
          <button class="btn btn-danger" ng-disabled="bCyclesCtrl.tabDelete"
          ng-click="bCyclesCtrl.deleteDebit($index)">
            <i class="fa fa-trash-o"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
